<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Успеваемость студентов</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 style="text-align:center;">Успеваемость студентов</h1>

        <a href="{% url 'add_student' %}" class="btn btn-success">Добавить студента</a>
        <a href="{% url 'add_grade' %}" class="btn btn-primary">Добавить оценку</a> <!-- Добавляем кнопку для перенаправления на страницу добавления оценок -->

        <form method="GET" action="{% url 'dashboard' %}">
            <div class="form-group">
                <label for="subject">Выберите предмет:</label>
                <select name="subject" id="subject" class="form-control">
                    <option value="">Все предметы</option>
                    {% for subject in subjects %}
                        <option value="{{ subject }}" {% if subject == selected_subject %}selected{% endif %}>
                            {{ subject }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Фильтр</button>
        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ФИО</th>
                    {% for subject in subjects %}
                        <th>{{ subject }}</th>
                    {% endfor %}
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for statistics in student_statistics %}
                    <tr>
                        <th scope="row">{{ statistics.student.id }}</th>
                        <td>{{ statistics.student.first_name }} {{ statistics.student.last_name }}</td>
                        {% for score in statistics.scores %}
                            <td>{{ score }}</td>
                        {% endfor %}
                        <td>
                            <a href="{% url 'delete_student' statistics.student.id %}" class="btn btn-danger">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
